  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
   :root {
      font-size: 4vh;
      background: rgba(15, 219, 219, 0.849);
      color: rgb(70, 85, 221);
      font-family: 'Inconsolata', monospace;
  }
  
  body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  h1 {
      color: tomato;
  }
  
  form {
      display: flex;
      flex-direction: column;
      background-color: rgb(104, 218, 218);
      height: fit-content;
      width: fit-content;
  }
  
  #authorInput {
      position: relative;
      left: 1rem;
      margin-bottom: 0.2rem;
  }
  
  #titleInput,
  #pagesInput {
      position: relative;
      left: 1.5rem;
      margin-bottom: 0.3rem;
  }
  
  #readInput {
      position: relative;
      left: 2rem;
      margin-bottom: 1rem;
  }
  
  #readInput:checked {}